<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
		<title>Gerburger</title>

{{!-- JQuery --}}
		<script src="https://code.jquery.com/jquery.js"></script>

{{!-- Stylesheet --}}
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />


	</head>

	<body style="background-color: aquamarine;">
		
		{{{ body }}}
		<script src="/public/assets/js/burger.js"></script>
		
	</body>

</html>
